.About {
    background-color: #319c5e;
    padding: 1em;
    border: 5px whitesmoke dashed;
    margin: 1em;
    border-radius: 25px;
    font-size: 22px;
    text-shadow: 1px 1px rgb(74, 73, 73);
  }