@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap");

body {
  font-family: "Mountains of Christmas", cursive;
  color: whitesmoke;
  background-color: #165b33;
  // background: linear-gradient(to bottom right, #165b33, #35985e, whitesmoke);
  font-size: 24px;
  font-weight: bold;

  // -------------- [ GREEN COLOR BECOMING BRIGHTER EFFECT ON LOAD ]-----------------------------
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {
      background-color: #3dc174;
    }
    to {
      background-color: #165b33;
    }
  }
  /* Standard syntax */
  @keyframes example {
    from {
      background-color: #3dc174;
    }
    to {
      background-color: #165b33;
    }
  }
  //---------------------------------------------------------------------------------------------
}
.backButton {
  background-color: goldenrod;
  border: 2px dashed whitesmoke;
  display: block;
  margin: auto auto;
  margin-top: 20px;
  color: white;
  padding: 1em;
  border-radius: 15px;
  font-size: 14px;
}