// $table-header: #bb2528;
// $table-header-border: #d9d9d9;
// $table-border: #d9d9d9;
// $row-bg: #f4f2f1;
// $button-active: #146b3a;

// // ----------------------------- [        DESKTOP VIEW        ]-----------------------------

// // ----------------------------- [        MOBILE VIEW         ]-----------------------------
@media all and (max-width: 500px) {
  .Calendar2 {
    .AboutButton {
      background-color: goldenrod;
      border: 2px dashed whitesmoke;
      display: block;
      float: right;
      color: white;
      padding: 1em;
      border-radius: 25px;
      margin: 25px;
      font-size: 14px;
      opacity: 0.7;
      height: 50px;
      width: 50px;
      font-style: bold;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }

    .calendar-table {
      width: 90%;
      margin: auto auto;
      border-spacing: 10px;

      &__day {
        border-radius: 15px;
        padding: 8%;
        text-align: center;
        margin: 10px;
        font-size: 40px;
      }

      &--red {
        background-color: rgba(234, 12, 12, 0.633);
        border: dashed 3px rgba(245, 245, 245, 0.66);
      }

      &--white {
        background-color: rgba(245, 245, 245, 0.66);
        border: dashed 3px rgba(234, 12, 12, 0.633);
        color: rgba(234, 12, 12, 0.8);
      }
    }
  }
}
