.Day {
    padding: 1em;
    width: 80%;
    margin: auto auto;

    &__image {
        display: block;
        margin: auto auto;
    }
    &__material {
        border:solid 1px gray;
    }

    .backButton {
        background-color: goldenrod;
        border: 2px dashed whitesmoke;
        display: block;
        color: white;
        padding: 1em;
        border-radius: 15px;
        font-size: 14px;
  }
}

